* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 2rem;
}
li {
  display: flex;
  flex-direction: row-reverse;
}

/* for SongDetail component */
.details {
  position: absolute;
  left: 50%;
  top: 10%;
}
